{% extends 'base.html' %}
{% block contentPagina %}
{% load widget_tweaks %}

{% endblock %}
{% block title %}
<title>Coma Bem | Detalhe Pedido</title>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-12">
        <h1 class="m-0">Detalhe do Pedido - {{numero_pedido}}</h1>
            <div class="invoice p-3 mb-3">
                <!-- title row -->
                <div class="row">
                    <div class="col-12">
                        <h4>
                            Informações do Pedido
                            <small class="float-right">Date: {{data_atual}}</small>
                        </h4>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- info row -->

                <div class="p-3 col-12">
                    {%for pedidos_items in pedidos_items%}
                        {% ifchanged %}
                            <div class="row invoice-info">
                                    <div class="col-sm-6 invoice-col">
                                        <address>
                                            <strong>Comprador</strong><br>
                                            {{ pedidos_items.pedido.usuario.first_name }} {{ pedidos_items.pedido.usuario.last_name }}<br>
                                            {{ pedidos_items.pedido.usuario.cidade }}, {{ pedidos_items.pedido.usuario.rua }}, {{ pedidos_items.pedido.usuario.numero }},<br>
                                            Telefone: {{ pedidos_items.pedido.usuario.telefone }}<br>
                                        </address>
                                    </div>
                                    <div class="col-sm-6 invoice-col">
                                        <b>Data do Pedido</b> - {{pedidos_items.pedido.data_criacao}}<br>
                                    </div>
                            </div>
                        {% endifchanged %}
                            <address>
                                <strong>Produto</strong> - {{pedidos_items.product}}<br>
                                <p>
                                Quantidade: {{pedidos_items.quantidade}}<br>
                                Valor: R$ {{pedidos_items.preco}} / {{ pedidos_items.product.medida }}<br>
                                </p>
                            </address>
                    {% endfor %}
                </div>
            </div>
        <!-- /.card-body -->
    </div>
</div>
</div>

{% endblock %}