{% extends 'base.html' %}
{% block contentPagina %}
{% load widget_tweaks %}
{% load pagination %}

{% endblock %}
{% block title %}
<title>Coma Bem | Lista de Pedidos</title>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-12">
        {% if object_list %}
        <h1 class="m-0">Lista de Pedidos</h1>
        <div class="card">

            <div class="card-header">
                <h3 class="card-title">Minhas Vendas</h3>

            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0 ">
                <div style="text-align:center;">
                    <table class="table table-hover text-nowrap">
                        <thead>
                        <tr>
                            <th>Nº Pedido</th>
                            <th>Produto</th>
                            <th>Quantidade</th>
                            <th>Preço</th>
                            <th>Data Pedido</th>
                            <th>Status</th>
                            <th style="text-align:center;">Ação</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%for pedidos_items in object_list%}
                        <tr>
                            <td>{{pedidos_items.pedido.id}}</td>
                            <td>{{pedidos_items.product}}</td>
                            <td>{{pedidos_items.quantidade}}</td>
                            <td>{{pedidos_items.preco}}</td>
                            <td>{{pedidos_items.pedido.data_criacao}}</td>
                            <td>{{pedidos_items.pedido.get_status_display}}</td>
                            <td style="text-align:center;">
                                <a class="btn" style="color:black;"
                                   href="{%url 'vendas_detalhe' pedidos_items.pedido.id%}"><i class="fas fa-eye"
                                                                                              title="Detalhes do Pedidos"></i></a>

                                <a class="btn" style="color:black;"
                                   href="{%url 'pedidos_update' pedidos_items.pedido.id %}"><i class="fas fa-eye"
                                                                                               title="Detalhes do Pedidos"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.card-body -->
            {% pagination request paginator page_obj %}

        </div>
        <!-- /.card -->
        {% else %}
        <h3 class="text-center">Você não possui vendas!</h3>

        {% endif %}
    </div>
</div>

{% endblock %}