{% extends 'base.html' %}
{% block contentPagina %}
{% load widget_tweaks %}
<h1 class="m-0">Carrinho de Compras</h1>
{% endblock %}
{% block title %}
<title>Coma Bem | Carrinho de Compras</title>
{% endblock %}

{% block container %}
<div class="row">
<div class="col-12">
{% for message in messages %}
    <div class="aler alert-{{ message.tags}}">
        {{ message }}
    </div>
{% endfor %}
<div class="card">
<div class="card-header">
    <h3 class="card-title">Meu Carrinho</h3>
<div style="text-align:center;">
    <div class="card-body table-responsive p-0 ">
        <form class="" action="" method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            <table class="table table-hover text-nowrap" style="background: white">
                <thead>
                    <th>
                        ID
                    </th>
                    <th>
                        Nome
                    </th>
                    <th>
                        Preço
                    </th>
                    <th style="width: 10%;">
                        Quantidade
                    </th>
                    <th class="text-center">
                        Ação
                    </th>
                </thead>
                <tbody>
                    {% for form in formset %}
                    <tr>
                        <td>
                            {{ form.instance.product.pk }}
                        </td>
                        <td>
                            {{ form.instance.product }}
                        </td>
                        <td>
                            R$ {{ form.instance.preco|floatformat:"2" }}
                        </td>
                        <td>
                            {% render_field form.quantidade class='form-control' %}
                        </td>
                        <td>
                            <button value="on" type="submit" name="{{ form.DELETE.html_name }}" class="btn btn-danger btn-sm">Remover</button>
                            {{ form.id }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="text-right">
                <a href="{% url 'produtos_disponiveis' %}" class="pull-left btn btn-default">Continuar Compras</a>
                <button type="submit" class="btn btn-success" name="button">Atualizar Carrinho</button></li>
                <a href="{% url 'pedidos' %}" class="btn btn-info">Finalizar Compra</a>
            </p>
        </form>
    </div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
