{% extends 'base.html' %}
{% block contentPagina %}
{% load widget_tweaks %}
<h1 class="m-0">Finalização de Compra</h1>
{% endblock %}
{% block title %}
<title>COMA | Finalização de Compra</title>
{% endblock %}

{% block container %}
<div class="row">
<div class="col-12">
{% for message in messages %}
    <div class="aler alert-{{ message.tags}}">
        {{ message }}
    </div>
{% endfor %}
<div class="card">
<div class="card-header">
    <h3 class="card-title">Meu Carrinho</h3>
<div style="text-align:center;">
    <div class="card-body table-responsive p-0 ">
       <h1>Compra Finalização!</h1>
    </div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
