{% extends 'base.html' %}
{% block contentPagina %}
{% load widget_tweaks %}

<h1 class="m-0">Cadastrar Categorias</h1>

{% endblock %}
{% block title %}
<title>COMA | Cadastro de Categorias</title>
{% endblock %}
{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Quick Example</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            {% for field in form %}
            <div class="form-group{% if field.errors %} has-error{% endif %}">
              <label for="{{ field.auto_id }}" class="col-md-3 control-label">{{ field.label }}</label>
              <div class="col-md-9">
                {% render_field field class='form-control' %}
              </div>
            </div>
            {% endfor %}
            <div class="form-group">
              <div class="col-md-9 col-md-offset-3">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
              </div>
            </div>
        </fieldset>
    </form>
    </div>
</form>

{% endblock %}