{% extends 'base.html' %}
{% block contentPagina %}
<h1 class="m-0">Cadastrar Produto</h1>
{% endblock %}
{% block title %}
<title>COMA | Cadastro de Produtos</title>
{% endblock %}
{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Quick Example</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
            <div class="card-body">
                <div class="form-group">
                    <label for="id_name">Nome</label>
                    <input type="text" class="form-control" name="name" required="" id="id_name" placeholder="Nome">
                </div>

                <div class="form-group">
                    <label for="id_category">Categoria</label>
                    <select class="form-control" name="category" required="" id="id_category">
                        <option>option 1</option>
                    </select>
                    <label for="id_quantity">Quantidade</label>
                    <input type="text" class="form-control" type="number" name="quantity" required="" id="id_quantity">
                </div>

                <div class="form-group">
                    <label for="id_description">Descrição</label>
                    <textarea type="text" class="form-control" name="description" id="id_description"></textarea>
                </div>

                <div class="form-group">
                    <label for="id_price">Preço</label>
                    <input type="text" class="form-control" ntype="number" name="price" required="" id="id_price">
                </div>


                <div class="form-group">
                    <label for="id_image">Imagem</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="image" accept="image/*" id="id_image">
                            <label class="custom-file-label" for="id_image">Imagem</label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text">Upload</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </form>
    </div>
</form>

{% endblock %}