{% extends 'base.html' %}
{% load static %}
{% block contentPagina %}
{% load widget_tweaks %}
<h1 class="m-0">Lista de Produtos</h1>
{% endblock %}
{% block title %}
<title>COMA | Lista de Produtos</title>
{% endblock %}
{% block content %}
<div class="card card-solid">
    <div class="card-body pb-0">
        <div class="row">
         {%for produto in object_list%}
            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">

                        {% if produto.image %}
                            <img src="{{ produto.image.url }}"/>
                        {% else %}
                            <img src="http://placehold.it/350x250" alt="" />
                        {% endif %}
                    <div class="card-header text-center border-bottom-0">
                        <h2 class="lead"><b>{{ produto.name }}</b></h2>
                    </div>

                    <div class="card-body pt-0">
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <div class="bg-gray py-2 px-3 mt-4">
                                    <h2 class="mb-0">
                                        ${{ produto.price }}
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="text-right">
                            <a href="#" class="btn btn-sm bg-teal">
                                <i class="fas fa-comments"></i>
                            </a>
                            <a href="#" class="btn btn-sm btn-primary">
                                <i class="fas fa-user"></i> View Profile
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}