{% extends 'base.html' %}
{% block contentPagina %}
{% load widget_tweaks %}
{% load pagination %}

{% endblock %}
{% block title %}
<title>Coma Bem | Lista de Produtos</title>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-12">
        {% if object_list %}
        <h1 class="m-0">Lista de Produtos</h1>
        <div class="card">

            <div class="card-header">
                <h3 class="card-title">Meus Produtos</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0 ">
                <div style="text-align:center;">
                    <table class="table table-hover text-nowrap">
                        <thead>
                        <tr>
                            <th>Nome</th>

                            <th>Categoria</th>
                            <th>Descrição</th>
                            <th>Quantidade</th>
                            <th>Medida</th>
                            <th>Preço</th>
                            <th>Situação</th>
                            <th>Data Entrega</th>
                            <th style="text-align:center;">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%for produto in object_list%}
                        <tr>
                            <td>{{ produto.name }}</td>
                            <td>{{ produto.category }}</td>
                            <td>{{ produto.description }}</td>
                            <td>{{ produto.quantity }}</td>
                            <td>{{ produto.medida }}</td>
                            <td>R$ {{ produto.price }}</td>
                            <td>{{ produto.get_status_display }}</td>
                            <td>{{ produto.data_entrega }}</td>
                            <td style="text-align:center;">
                                <a class="btn" style="color:black;" href="{%url 'produto_delete' produto.id%}">
                                    <i class="fas fa-trash-alt" title="Excluir Produto"></i></a>
                                <a class="btn" style="color:black;"
                                   href="{%url 'produto_update' produto.id%}"><i class="fas fa-edit"
                                                                                 title="Editar Produto"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        {% pagination request paginator page_obj %}

        <!-- /.card -->
        {% else %}
        <h3 class="text-center">Você não possui produtos!</h3>

        {% endif %}
    </div>
</div>

{% endblock %}