{% extends 'cadastro_user.html' %}
{% load static %}
{% block title %}Coma Bem | Login{% endblock title %}
{% block card-title %}<h4 class="text-center">Login</h4>{% endblock card-title %}
{% block login %}<a href="/accounts/cadastrar/">Cadastrar</a>{% endblock login %}

{% block content %}


{% if form.errors %}
<div class="row" style="margin-top:10px;">
    <div class="col-md-6 offset-md-3">
        <div class="alert alert-danger" role="alert">

            <b class="text-center">
                {% if form.errors.items|length == 1 %}Por Favor, Corrija o Erro Abaixo.{% else %}Por
                Favor, Corrija os Erros Abaixo.{% endif %}
            </b>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
{% endif %}

<div class="row" style="margin-top:10px;">
    <div class="col-md-6 offset-md-3">
        <div class="card card-outline">
            <div class="card-header text-center">
                <img src="{% static '/img/PNG1.png' %}" style="max-height: 100px;">
            </div>
            <div class="card-body">

                <h4 class="text-center">Login</h4>


                <form method="post" class="form">
                    {% csrf_token %}

                    <div class="form-row">

                        <div class="form-group col-lg-12 mb-3">
                            <label>E-mail{% if form.username.errors %}
                                <strong class="text-danger">*</strong>
                                {% endif %}</label>
                            <input class="form-control" id="id_username" name="username"
                                   type="email"
                                   placeholder="Digite seu e-mail">
                            <div class="form-row text-danger small">
                                {% for erro in form.username.errors %}
                                {% if erro|escape == "Este campo é obrigatório." %}
                                <strong>E-mail um campo é obrigatório.</strong>
                                {% else %}
                                <strong>{{erro}}</strong>
                                {% endif %}

                                {% endfor %}
                            </div>
                        </div>

                    </div>

                    <div class="form-row">

                        <div class="form-group col-lg-12 mb-3">
                            <label>Senha{% if form.username.errors %}
                                <strong class="text-danger">*</strong>
                                {% endif %}</label>
                            <input class="form-control" type="password" name="password" autocomplete="current-password"
                                   id="id_password"
                                   placeholder="Digite sua senha"
                                   autocomplete="off">

                            <div class="form-row text-danger small">
                                {% if form.password.errors %}
                                <strong>Senha é um campo obrigatório.</strong>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}