{% extends 'base.html' %}
{% block title %}
<title>COMA | Atualizar Senha</title>
{% endblock %}

{% block contentPagina %}
<h1 class="m-0">Atualizar Senha</h1>
{% endblock %}

{% block content %}
<div class="card card-primary">
    <div class="card-body">

        <h4 class="text-center">Registre-se</h4>

        <form method="post" class="form" autocomplete="off">
            {% csrf_token %}
            <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">

            <div class="form-row justify-content-center align-items-center">

                <div class="form-group col-lg-6 mb-3">
                    <label>Senha Antiga</label>
                    <input class="form-control" id="id_old_password" name="old_password"
                           type="password"
                           placeholder="Digite sua antiga senha"
                           autocomplete="off" required>
                </div>
            </div>
            <div class="form-row justify-content-center align-items-center">
                <div class="form-group col-lg-6 mb-3">
                    <label>Nova Senha</label>
                    <input class="form-control" id="id_new_password1" name="new_password1"
                           type="password"
                           placeholder="Digite a sua senha novamente"
                           autocomplete="off" required>
                </div>
            </div>
            <div class="form-row justify-content-center align-items-center">
                <div class="form-group col-lg-6 mb-3">
                    <label>Confirmar Nova Senha</label>
                    <input class="form-control" id="id_new_password2" name="new_password2"
                           type="password"
                           placeholder="Digite a sua senha novamente"
                           autocomplete="off" required>
                </div>
            </div>
            <div class="form-row justify-content-center align-items-center">

                <button type="submit" class="btn btn-primary">Atualizar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

