{% extends 'base.html' %}
{% block contentPagina %}
{% load widget_tweaks %}
<h1 class="m-0 offset-m-2">Detalhe Pedido</h1>
{% endblock %}
{% block title %}
<title>Coma Bem | Detalhe do Pedido</title>
{% endblock %}
{% block content %}
<div class="row">

    <div class="col-md-12">

        <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
                <div class="col-12">
                    <h4>
                        Pedido N° {{pedido.pk}}
                        <small class="float-right">Data do Pedido: {{object.data_criacao|date:"d/m/Y H:i" }}</small>
                    </h4>
                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    Informações
                    <address>
                        <strong>Total</strong><br>
                       <h3> R$ {{ object.total|floatformat:"2" }}<br> </h3>
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <strong>Itens do Pedido</strong><br>
                        {% for item in object.items.all %}
                            <p>
                            Produto: {{ item.product }} </br>
                            Preço: R$ {{ item.preco|floatformat:"2" }} / {{ item.product.medida }} </br>
                            Quantidade: {{ item.quantidade }} </br>
                            </p>
                        {% endfor %}
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <b>Ação</b><br>
                    <div class="row no-print">
                        <div class="col-12">
                            <a href="invoice-print.html" rel="noopener" target="_blank" class="btn btn-default"><i
                                    class="fas fa-print"></i> Print</a>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

        </div>
    </div>
</div>
{% endblock %}