{% extends 'base.html' %}
{% block contentPagina %}
{% load widget_tweaks %}
<h1 class="m-0 offset-m-2">Meus Pedidos</h1>
{% endblock %}
{% block title %}
<title>Coma Bem | Meus Pedidos</title>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-10 offset-md-1">
        {% if object_list %}
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
                <div style="text-align:center;">
                    <table class="table table-hover text-nowrap">
                        <thead>
                        <tr>
                            <th>N°</th>

                            <th>Data do Pedido</th>
                            <th>Status</th>
                            <th style="text-align:center;">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%for pedido in object_list%}
                        <tr>
                            <td>{{ pedido.id }}</td>
                            <td>{{ pedido.data_criacao }}</td>
                            <td>{{ pedido.get_status_display }}</td>
                            <td style="text-align:center;">
                                <a class="btn" style="color:black;"
                                   href="{%url 'pedidos_detalhe' pedido.id %}"><i class="fas fa-eye"
                                               title="Detalhes do Pedidos"></i></a>

                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                    <li class="page-item"><a class="page-link" href="#">«</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">»</a></li>
                </ul>
            </div>
        </div>
        <!-- /.card -->
        {% else %}
        <h4 class="text-center">Você não possui pedidos.</h4>

        {% endif %}
    </div>

</div>
{% endblock %}