{% extends 'base.html' %}
{% block contentPagina %}
{% load widget_tweaks %}
<h1 class="m-0">Finalização das Compras</h1>
{% endblock %}
{% block title %}
<title>Coma Bem | Finalizando Compras</title>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="col-md-12 col-md-offset-2">
                    <div class="alert alert-success">
                        Seu pedido foi realizado com sucesso!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
