{% extends 'cadastro_user.html' %}
{% block title %}SiGO - Recuperar Senha{% endblock title %}
{% block card-title %}Digite a nova senha{% endblock card-title %}

{% block content %}


<form method="post" class="form">
    {% csrf_token %}

    <div class="form-row">

        <div class="form-group col-lg-12 mb-3">
            <label>Nova Senha</label>
            <input class="form-control"
                   id="new_password1" name="new_password1"
                   type="password"
                   placeholder="Nova Senha" autocomplete="off" required>
        </div>

    </div>
    <div class="form-row">

        <div class="form-group col-lg-12 mb-3">
            <label>Confirmar a Senha</label>
            <input class="form-control"
                   id="new_password2" name="new_password2"
                   type="password"
                   placeholder="Senha" autocomplete="off" required>
        </div>

    </div>
    <button type="submit" class="btn btn-primary">Aterar senha</button>
</form>


{% endblock %}






