{% extends 'webpage.html' %}
{% load static %}
{% block title %}
<title>Coma Bem | Quem somos</title>
<link rel="shortcut icon" href="{% static '/img/pngico.ico' %}">
{% endblock %}
{% block content %}
<div class="content-wrapper" style="min-height: 1761.31px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12 text-center">
                    <h1 style="font-size: 45px;">Sobre</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card card-solid">
            <div class="card-body pb-0">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-12 d-flex align-items-stretch flex-column text-center">
                        Lorem ipsum represents a long-held tradition for designers, typographers and the like. Some
                        people hate it and argue for its demise, but others ignore the hate as they create awesome tools
                        to help create filler text for everyone from bacon lovers to Charlie Sheen fans.

                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-12 text-center">
                        <h2>Equipe</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-header text-muted border-bottom-0">
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="lead"><b>Felipe Gabriel</b></h2>
                                        <p class="text-muted text-sm">Estudante de Analise e Desenvolvimento de Sistemas - IFRN</p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-envelope"></i></span>
                                                Address: Demo Street 123, Demo City 04312, NJ
                                            </li>
                                            <li class="small"><span class="fa-li"><i class="fab fa-lg fa-github"></i></span> Phone #: + 800 - 12 12 23 52
                                            </li>
                                             <li class="small"><span class="fa-li"><i class="fab fa-lg fa-linkedin"></i></span> Phone #: + 800 - 12 12 23 52
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-5 text-center">
                                        <img src="{% static '/img/imagem1.jpg' %}" style="width:128px;height:128px;" alt="user-avatar"
                                             class="img-circle img-fluid">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-header text-muted border-bottom-0">
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="lead"><b>Francisco Leocassio</b></h2>
                                        <p class="text-muted text-sm">Estudante de Analise e Desenvolvimento de Sistemas - IFRN</p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-envelope"></i></span>
                                                leocassiosilva1234@gmail.com
                                            </li>
                                            <li class="small"><span class="fa-li"><i class="fab fa-lg fa-github"></i></span> https://github.com/leocassiosilva                                            </li>
                                             <li class="small"><span class="fa-li"><i class="fab fa-lg fa-linkedin"></i></span> https://www.linkedin.com/in/leocassio-silva-924b04181/
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-5 text-center">
                                        <img src="{% static '/img/Imagem2.png' %}" style="width:128px;height:128px;" alt="user-avatar"
                                             class="img-circle img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
{% endblock %}